.tl-root {
	position: relative;
	width: 100%;

	.mCSB_container {
		margin:0 !important;
		padding:0 !important;
	}
	.mCSB_container_wrapper {
		margin:0 !important;
	}

	.tl-sidebar {
		position: absolute;

		.tl-group {
			position: absolute;
			left: 0;
			right: 0;

			.tl-scroll-inner {
				position: relative;
			}

			.tl-line {
				position: absolute;
				left: 0;
				right: 0;
			}
		}
	}

	.tl-ruler {
		position: absolute;

		.tl-scroll-inner {
			position: relative;
		}

		.tl-dash {
			position: absolute;
			bottom: 0;
			width: 1px;
			height: 10px;
		}

		.tl-range {
			position: absolute;
			top: 0;
			bottom:0;

			.tl-heading {
				text-align: center;
				height: 30px;
			}
		}
	}

	.tl-corner {
		position: absolute;
	}

	.tl-field {
		position: absolute;
		overflow: hidden;
		
		.tl-scroll-inner {
			position: relative;
		}

		.tl-group {
			position: absolute;
			left: 0;
			right: 0;

			.tl-line {
				position: absolute;
				left: 0;
				right: 0;
			}

			.tl-range {
				position: absolute;
				top: 0;
				bottom:0;
			}

			.tl-dash {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 1px;
			}

			.tl-item {
				position: absolute;

				.tl-resizer-right {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					width: 3px;
					cursor: e-resize;
				}

				.tl-resizer-left {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 3px;
					cursor: w-resize;
				}
			}

			.ui-draggable-dragging {
				background: rgba(0, 0, 0, 0);

				&.tl-drag-helper {
					cursor: move;
				}

				&.tl-resize-helper-left {
					cursor: w-resize;
				}

				&.tl-resize-helper-right {
					cursor: e-resize;
				}
			}

			.tl-drag-hint {
				position: absolute;
				height: 20px;
				line-height: 20px;
				margin-left: 16px;
			}

			.tl-resize-hint {
				position: absolute;
				height: 20px;
				line-height: 20px;
				margin-left: 16px;
			}
		}
	}
}

.tl-group {
	.tl-icm-dash {
		position: absolute;
		top: 0;
		bottom: 0;
	}

	.tl-icm-helper {
		position: absolute;
		width: 3px;
		background: rgba(0, 0, 0, 0);
	}

	.tl-icm-hint {
		position: absolute;
		height: 20px;
		line-height: 20px;
		margin-left: 16px;
	}
}