@ruler-height: 50px;
@sidebar-width: 100px;

.tl-root {
	position: relative;
	width: 100%;
	height: 600px;
	background: #eee;

	.tl-sidebar {
		position: absolute;
		top: @ruler-height;
		bottom: 0;
		left: 0;
		width: @sidebar-width;
		background: #ccc;

		.tl-group {
			position: absolute;
			left: 0;
			right: 0;
			border-top: 5px solid black;
			border-bottom: 5px solid black;

			.tl-scroll-inner {
				position: relative;
				width: @sidebar-width;
			}

			.tl-line {
				position: absolute;
				left: 0;
				right: 0;
				border-top: 5px solid orange;
				border-bottom: 5px solid blue;
			}
		}
	}

	.tl-ruler {
		position: absolute;
		top: 0;
		right: 0;
		left: @sidebar-width;
		height: @ruler-height;
		background: #bbb;

		.tl-scroll-inner {
			position: relative;
			height: @ruler-height;
		}

		.tl-dash {
			position: absolute;
			bottom: 0;
			width: 1px;
			height: 10px;
			background: #666;

			&.named-6-hour {height: 5px;}
			&.named-12-hour {height: 10px;}
			&.named-24-hour {height: 20px;}
		}
		
		.tl-range {
			position: absolute;
			top: 0;
			bottom:0;
			border-left: 5px solid red;
			border-right: 5px solid green;

			.tl-heading {
				text-align: center;
				height: 30px;
				background: #888;
			}
		}
	}

	.tl-field {
		position: absolute;
		overflow: hidden;
		top: @ruler-height;
		left: @sidebar-width;
		bottom: 0;
		right: 0;

		.tl-scroll-inner {
			position: relative;
		}

		.tl-group {
			position: absolute;
			left: 0;
			right: 0;
			border-top: 5px solid #666;
			border-bottom: 5px solid #666;

			.tl-line {
				position: absolute;
				left: 0;
				right: 0;
				border-top: 5px solid orange;
				border-bottom: 5px solid blue;
				background: white;
			}

			.tl-range {
				position: absolute;
				top: 0;
				bottom:0;
				border-left: 5px solid red;
				border-right: 5px solid green;
				background: white;
				opacity: 0.5;
			}

			.tl-dash {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 1px;
				background: #666;

				&.named-6-hour {display: none;}
			}

			.tl-item {
				position: absolute;
				background: pink;
			}
		}
	}
}